/* Write your global styles here, in SCSS syntax. 
Variables and mixins from the src/variables.scss file are available here without importing */

@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-Regular.eot');
    src: url('fonts/RobotoMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/RobotoMono-Regular.woff2') format('woff2'),
        url('fonts/RobotoMono-Regular.woff') format('woff'),
        url("fonts/Roboto-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: $tertiary !important;
}

#log-body {
    height: 15em !important;
    overflow-y: scroll !important;
    font-size: smaller !important;
    font-family: 'Roboto Mono', monospace !important;

    p {
        margin-bottom: 0.5em !important;
    }
}

// gridjs theme
@import "./gridjs_mermaid.min.css";

#results-table tbody {
    a {
        text-decoration: none !important;

        &:hover {
            text-decoration: underline !important;
        }
    }

    td:nth-child(2) {
        font-weight: 300 !important;
    }
}

#export {
    font-weight: 700 !important;
}

/* Import only what you need from Bootstrap */
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/breadcrumb';
@import 'bootstrap/scss/pagination';
@import 'bootstrap/scss/badge';
@import 'bootstrap/scss/alert';
@import 'bootstrap/scss/progress';
@import 'bootstrap/scss/list-group';
@import 'bootstrap/scss/close';
@import 'bootstrap/scss/toasts';
@import 'bootstrap/scss/modal';
@import 'bootstrap/scss/tooltip';
@import 'bootstrap/scss/popover';
@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/spinners';
@import 'bootstrap/scss/offcanvas';
@import 'bootstrap/scss/placeholders';
@import 'bootstrap/scss/helpers';
@import 'bootstrap/scss/utilities/api';